# Root level Gradle
.gradle/
build/
/local.properties

# Android Studio / IntelliJ IDEA
.idea/
*.iml

# App level
/app/build/
/app/schemas/

# Mac OS X
.DS_Store

# Gradle
.gradle/
build/

# Built variants
*.apk
*.aar
*.ap_
*.aab

# Android Studio
captures/
.externalNativeBuild/
.cxx/
/memory_settings.xml

# Kotlin
.kotlin/
kotlin-daemon-*.sys.v2

# Keystore files
*.jks
*.keystore

# Google Services
google-services.json

# Crashlytics
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
